<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../dashboard/index.html">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">فرم ها</a></li>
                    <li class="breadcrumb-item" aria-current="page">لیبل شناور</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">لیبل شناور</h2>
                </div>
            </div>
        </div>
    </div>
</div>