<li>
    {% if node.get_children %}
        <span class="toggle">▶</span>
    {% else %}
        <span style="margin-right: 18px;"></span>
    {% endif %}
    <input class="form-check-input" type="radio" name="names" value="{{ node.id }}">
    {{ node.name }}

    {% if node.get_children %}
        <ul class="children">
            {% for child in node.get_children %}
                {% include 'account_base/list_accounts.html' with node=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>