{% extends 'base.html' %}
{% load static %}
{% load jinja_filters %}
{% block header %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'js/jalalidatepicker.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jalalidatepicker.min.js' %}"></script>



{% endblock %}

{% block body %}
    <h2>گزارش سند ها</h2>


        <form id="search-filter-form">
            <div class="row mb-3 p-3 rounded" style="background-color: #e7f7ec;">
                <div class="col-md-3 mb-2">
                    <input type="text" name="account_name" placeholder="جستجو نام حساب" class="form-control mb-2">
                </div>
                <div class="col-md-3 mb-2">
                    <input type="text" name="description" placeholder="جستجو در توضیحات" class="form-control mb-2">
                </div>
                <div class="col-md-3 mb-2">
                    <input type="text" name="amount" placeholder="مبلغ" class="form-control mb-2">
                </div>
                
                <div class="col-md-3 mb-2">
                    <input type="text" name="document_id" placeholder="شماره روکش" class="form-control mb-2">
                </div>
            </div>
            <!-- بخش اول: تاریخ ثبت -->
            <div class="row mb-3 p-3 rounded" style="background-color: #e8f0fe;">
                <label class="mb-2 fw-bold">تاریخ ثبت:</label>
                <div class="col-md-6 mb-2">
                    <input type="text" class="form-control" name="created_at_from" data-jdp placeholder="تاریخ ثبت از">
                </div>
                <div class="col-md-6 mb-2">
                    <input type="text" class="form-control" name="created_at_to" data-jdp placeholder="تاریخ ثبت تا">
                </div>
            </div>

        </form>

        <div id="search-balance-list">
            {% include "partials/search_balance.html" %}


        </div>
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/index.js' %}"></script>
    <script>
        jalaliDatepicker.startWatch();
$(document).ready(function () {
    function filterbalance() {
        let formData = $('#search-filter-form').serializeArray();
        const queryString = $.param(formData);

        // آپدیت URL بدون رفرش
        const newUrl = window.location.pathname + "?" + queryString;
        window.history.pushState({}, '', newUrl);

        $.ajax({
            url: "{% url 'filter_balance' %}",
            type: "GET",
            data: formData,
            success: function (data) {
                $('#search-balance-list').html(data.html);
            }
        });
    }

    // پر کردن فرم از روی URL
    const params = new URLSearchParams(window.location.search);
    params.forEach(function (value, key) {
        let field = $(`[name="${key}"]`);

        if (field.attr('type') === 'checkbox' || field.attr('type') === 'radio') {
            field.filter(`[value="${value}"]`).prop('checked', true);
        } else {
            field.val(value).trigger('change'); // برای select2 و datepicker هم
        }
    });

    // اجرای اولیه بر اساس URL
    if (params.toString()) {
        filterbalance();
    }

    // هندل تغییرات فرم
    $('#search-filter-form input, #search-filter-form select').on('input change keyup', function () {
        filterbalance();
    });
            

});

    </script>
    

{% endblock %}