{% extends 'base.html' %}
{% load static %}
{% load jinja_filters %}
{% block header %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'js/jalalidatepicker.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jalalidatepicker.min.js' %}"></script>
    <style>


    .item {
        background: linear-gradient(90deg, #6366f1, #818cf8);
        color: #fff;
        padding: 10px 14px;
        border-radius: 10px;
        margin-bottom: 8px;
        font-size: 15px;
        opacity: 0;
        transform: translateY(10px);
        animation: fadeIn 0.4s forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #recivable_loading {
        background: #f3f4f6;
        color: #555;
        text-align: center;
        padding: 12px;
        border-radius: 8px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    /* حالت انیمیشن نقطه‌های در حال حرکت */
    .dot {
        width: 6px;
        height: 6px;
        background: #6366f1;
        border-radius: 50%;
        animation: bounce 1s infinite;
    }

    .dot:nth-child(2) { animation-delay: .2s; }
    .dot:nth-child(3) { animation-delay: 0.4s; }

    @keyframes bounce {
        0%, 80%, 100% { transform: translateY(0); }
        40% { transform: translateY(-6px); }
    }
    .summary-bar {
    position: sticky;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    padding: 12px 16px;
    z-index: 10;
    }

</style>

{% endblock %}

{% block body %}
<div>
    <h2>گزارش چک ها</h2>

    
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-recivable-tab" data-bs-toggle="pill" data-bs-target="#recivables" type="button" role="tab" aria-controls="pills-recivable" aria-selected="true">دریافتنی</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-payable-tab" data-bs-toggle="pill" data-bs-target="#payables" type="button" role="tab" aria-controls="pills-payable" aria-selected="false">پرداختنی</button>
    </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">

        <div id="recivables" class="tab-pane fade show active" id="pills-recivable" role="tabpanel" aria-labelledby="pills-recivable-tab" tabindex="0">
            <form id="recivable-filter-form">
                <div class="row mb-3 p-3 rounded" style="background-color: #e7f7ec;">
                    <div class="col-md-3 mb-2">
                                <input type="text" name="cheque_name" placeholder="جستجو نام چک" class="form-control mb-2">
                            </div>
                    <div class="col-md-3 mb-2">
                                <input type="text" name="description" placeholder="جستجو در توضیحات" class="form-control mb-2">
                            </div>
                            <div class="col-md-3 mb-2">
                            <input type="text" name="amount" placeholder="مبلغ سررسید" class="form-control mb-2">
                            </div>
                            <div class="col-md-3 mb-2">
                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="cheque_status">
                                <option value="">همه وضعیت‌ها</option>
                                <option value="جاری">جاری</option>
                                <option value="عودتی">عودتی</option>
                                <option value="وصولی">وصولی</option>
                                <option value="برگشتنی">برگشتنی</option>
                                <option value="امانی">امانی</option>
                            </select>
                            </div>
                </div>
                                        <!-- بخش اول: تاریخ ثبت -->
                <div class="row mb-3 p-3 rounded" style="background-color: #e8f0fe;">
                    <label class="mb-2 fw-bold">تاریخ ثبت:</label>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="created_at_from" data-jdp placeholder="تاریخ ثبت از">
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="created_at_to" data-jdp placeholder="تاریخ ثبت تا">
                    </div>
                </div>
                                    <!-- بخش دوم: تاریخ سررسید -->
                <div class="row mb-3 p-3 rounded" style="background-color: #fef7e0;">
                    <label class="mb-2 fw-bold">تاریخ سررسید:</label>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="due_date_from" data-jdp placeholder="تاریخ سررسید از">
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="due_date_to" data-jdp placeholder="تاریخ سررسید تا">
                    </div>
                </div>

            </form>
            <a id="receivable-export-excel" class="btn btn-success" href="#">
                دانلود اکسل
            </a>

        <div id="recivable-cheques-list">
            {% include "partials/receivable_cheques.html" %}
        </div>
        <div id="recivable_loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <span>در حال بارگذاری...</span>
        </div>
        <div id="receivables-summary" class=" summary-bar row bg-white shadow-md rounded-2xl p-4 mt-6 flex justify-between text-center">
          <div class="col-4">
            <span class="font-semibold text-gray-700">جمع بدهکاری:</span>
            <span id="receivables-debt-amount" class="font-bold text-red-600">{{ receivables_debt_amount|toman }}</span>
          </div>
          <div class="col-4">
            <span class="font-semibold text-gray-700">جمع بستانکاری:</span>
            <span id="receivables-credit-amount" class="font-bold text-green-600">{{ receivables_credit_amount|toman }}</span>
          </div>
            <div class="col-4">
            <span class="font-semibold text-gray-700">مانده:</span>
            <span id="receivables-balance-amount" class="font-bold">{{ receivables_balance|toman }}</span>
          </div>

        </div>
            
        </div>
        <div id="payables" class="tab-pane fade show" id="pills-payable" role="tabpanel" aria-labelledby="pills-payable-tab" tabindex="0">
            <form id="payable-filter-form">
                <div class="row mb-3 p-3 rounded" style="background-color: #e7f7ec;">
                    <div class="col-md-3 mb-2">
                        <input type="text" name="cheque_name" placeholder="جستجو نام چک" class="form-control mb-2">
                    </div>
                    <div class="col-md-3 mb-2">
                        <input type="text" name="description" placeholder="جستجو در توضیحات" class="form-control mb-2">
                    </div>
                    <div class="col-md-3 mb-2">
                        <input type="text" name="amount" placeholder="مبلغ سررسید" class="form-control mb-2">
                    </div>
                    <div class="col-md-3 mb-2">
                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="cheque_status">
                            <option value="">همه وضعیت‌ها</option>
                            <option value="جاری">جاری</option>
                            <option value="عودتی">عودتی</option>
                            <option value="وصولی">وصولی</option>
                            <option value="برگشتنی">برگشتنی</option>
                            <option value="امانی">امانی</option>
                        </select>
                    </div>
                </div>
                                        <!-- بخش اول: تاریخ ثبت -->
                <div class="row mb-3 p-3 rounded" style="background-color: #e8f0fe;">
                    <label class="mb-2 fw-bold">تاریخ ثبت:</label>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="created_at_from" data-jdp placeholder="تاریخ ثبت از">
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="created_at_to" data-jdp placeholder="تاریخ ثبت تا">
                    </div>
                </div>
                                    <!-- بخش دوم: تاریخ سررسید -->
                <div class="row mb-3 p-3 rounded" style="background-color: #fef7e0;">
                    <label class="mb-2 fw-bold">تاریخ سررسید:</label>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="due_date_from" data-jdp placeholder="تاریخ سررسید از">
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" name="due_date_to" data-jdp placeholder="تاریخ سررسید تا">
                    </div>
                </div>

            </form>
            <a id="payable-export-excel" class="btn btn-success" href="#">
                دانلود اکسل
            </a>
            <div id="payable-cheques-list">

            {% include "partials/payable_cheques.html" %}


            </div>
            <div id="payable_loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <span>در حال بارگذاری...</span>
            </div>
<div id="payables-summary" class=" summary-bar row bg-white shadow-md rounded-2xl p-4 mt-6 flex justify-between text-center">
  <div class="col-4">
    <span class="font-semibold text-gray-700">جمع بدهکاری:</span>
    <span id="payables-debt-amount" class="font-bold text-red-600">{{ payables_debt_amount|toman }}</span>
  </div>
  <div class="col-4">
    <span class="font-semibold text-gray-700">جمع بستانکاری:</span>
    <span id="payables-credit-amount" class="font-bold text-green-600">{{ payables_credit_amount|toman }}</span>
  </div>
    <div class="col-4">
    <span class="font-semibold text-gray-700">مانده:</span>
    <span id="payables-balance-amount" class="font-bold">{{ payables_balance }}</span>
  </div>

</div>


        </div>
    </div>
    </div>
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/index.js' %}"></script>
    <script>
    jalaliDatepicker.startWatch();

$(document).ready(function () {
    $('#receivable-export-excel').on('click', function(e){
        e.preventDefault();
        const params = $('#recivable-filter-form').serialize() + '&tab=recivable';  // فیلترهای فعلی
        window.location = '/accounts/export-csv-cheque/?' + params;
    });
    $('#payable-export-excel').on('click', function(e){
        e.preventDefault();
        const params = $('#payable-filter-form').serialize() + '&tab=payable';  // فیلترهای فعلی
        window.location = '/accounts/export-csv-cheque/?' + params;
    });
    let receivablesSearchTimeout = null;
    let recivable_page=1;
    let recivable_loading = false;
    function filterrecivables() {
        clearTimeout(receivablesSearchTimeout);
        receivablesSearchTimeout = setTimeout(function () {
        let formData = $('#recivable-filter-form').serializeArray();

        // حذف همه پارامترهای payable_* از URL
        const params = new URLSearchParams(window.location.search);
        [...params.keys()].forEach(k => {
            if (k.startsWith('payable_')) params.delete(k);
        });

        // اضافه کردن پارامترهای recivable_ جدید
        formData.forEach(f => params.set('recivable_' + f.name, f.value));

        const newUrl = window.location.pathname + '?' + params.toString();
        window.history.pushState({}, '', newUrl);

        $.ajax({
            url: "{% url 'filter_receivable_cheques' %}",
            data: $('#recivable-filter-form').serialize() + '&tab=recivable',
            success: function (data) {
                $('#recivable_loading').show();
                observer.observe(document.querySelector('#recivable_loading'));

                $('#recivable-cheques-list').html(data.html);
                $('#receivables-debt-amount').text(data.receivables_debt_amount.toLocaleString());
                $('#receivables-credit-amount').text(data.receivables_credit_amount.toLocaleString());
                let balance = data.receivables_credit_amount - data.receivables_debt_amount;
                let $balanceEl = $('#receivables-balance-amount');
                $balanceEl.text(balance.toLocaleString());
                appendNextToUpdateLinks();
                if (!data.has_next) {
                    recivable_loading=true;
                    observer.unobserve(document.querySelector('#recivable_loading'));
                    $('#recivable_loading').hide();

                   
                } else {
                    recivable_loading = false;
                    recivable_page=2;
                }

                // تغییر رنگ مانده
                if (balance < 0) {
                    $balanceEl.removeClass('text-green-600').addClass('text-red-600');
                } else {
                    $balanceEl.removeClass('text-red-600').addClass('text-green-600');
                }

            }
        });
        }, 1000);
    }
    function loadReceivables(){
        if (recivable_loading) {
            observer.unobserve(document.querySelector('#recivable_loading'));
            $('#recivable_loading').hide();
            return;
        }
        recivable_loading = true;
        $.ajax({
            url: "{% url 'filter_receivable_cheques' %}",
            data: $('#recivable-filter-form').serialize() + '&tab=recivable&page=' + recivable_page,
            success: function (data) {
                $('#recivable-cheques-list').append(data.html);
                if (data.has_next) {
                    recivable_page = data.next_page_number;
                    recivable_loading=false;
                } else {
                    observer.unobserve(document.querySelector('#recivable_loading'));
                    $('#recivable_loading').hide();
                }
                $('#receivables-debt-amount').text(data.receivables_debt_amount.toLocaleString());
                $('#receivables-credit-amount').text(data.receivables_credit_amount.toLocaleString());
                let balance = data.receivables_credit_amount - data.receivables_debt_amount;
                let $balanceEl = $('#receivables-balance-amount');
                $balanceEl.text(balance.toLocaleString());
                // تغییر رنگ مانده
                if (balance < 0) {
                    $balanceEl.removeClass('text-green-600').addClass('text-red-600');
                } else {
                    $balanceEl.removeClass('text-red-600').addClass('text-green-600');
                }
                
            } 
        });
    }
    const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            // یعنی div loading وارد دید کاربر شده
            loadReceivables();
        }
        });
    }, {
        threshold: 0.1 // وقتی حداقل ۱۰٪ از loading دیده بشه
    });
    
    observer.observe(document.querySelector('#recivable_loading'));

    let payable_loading = false;
    let payable_page = 1;
    let payablesSearchTimeout = null;


    function filterpayables() {
        
        clearTimeout(payablesSearchTimeout);
        payablesSearchTimeout = setTimeout(function () {
            let formData = $('#payable-filter-form').serializeArray();
    
            // حذف همه پارامترهای recivable_* از URL
            const params = new URLSearchParams(window.location.search);
            [...params.keys()].forEach(k => {
                if (k.startsWith('recivable_')) params.delete(k);
            });
    
            // اضافه کردن پارامترهای payable_ جدید
            formData.forEach(f => params.set('payable_' + f.name, f.value));
    
            const newUrl = window.location.pathname + '?' + params.toString();
            window.history.pushState({}, '', newUrl);
    
            $.ajax({
                url: "{% url 'filter_payable_cheques' %}",
                data: $('#payable-filter-form').serialize() + '&tab=payable',
                success: function (data) {
                    $('#payable_loading').show();
                    payable_observer.observe(document.querySelector('#payable_loading'));
                    $('#payable-cheques-list').html(data.html);
                    $('#payables-debt-amount').text(data.payables_debt_amount.toLocaleString());
                    $('#payables-credit-amount').text(data.payables_credit_amount.toLocaleString());
                    let balance = data.payables_debt_amount - data.payables_credit_amount;
                    let $balanceEl = $('#payables-balance-amount');
                    $balanceEl.text(balance.toLocaleString());
                    appendNextToUpdateLinks();
                    if (!data.has_next) {
                        payable_loading=true;
                        payable_observer.unobserve(document.querySelector('#payable_loading'));
                        $('#payable_loading').hide();
    
                       
                    } else {
                        payable_loading = false;
                        payable_page=2;
                    }
                    // تغییر رنگ مانده
                    if (balance < 0) {
                        $balanceEl.removeClass('text-green-600').addClass('text-red-600');
                    } else {
                        $balanceEl.removeClass('text-red-600').addClass('text-green-600');
                    }
                }
            });
        }, 1000); // زمان تأخیر (میلی‌ثانیه)
    }
    function loadPayables(){
        if (payable_loading) {
            payable_observer.unobserve(document.querySelector('#payable_loading'));
            $('#payable_loading').hide();
            return;
        }
        payable_loading = true;
        $.ajax({
            url: "{% url 'filter_payable_cheques' %}",
            data: $('#payable-filter-form').serialize() + '&tab=payable&page=' + payable_page,
            success: function (data) {
                $('#payable-cheques-list').append(data.html);
                if (data.has_next) {
                    payable_page = data.next_page_number;
                    payable_loading=false;
                } else {
                    payable_observer.unobserve(document.querySelector('#payable_loading'));
                    $('#payable_loading').hide();
                }
                $('#payables-debt-amount').text(data.payables_debt_amount.toLocaleString());
                $('#payables-credit-amount').text(data.payables_credit_amount.toLocaleString());
                let balance = data.payables_debt_amount - data.payables_credit_amount;
                let $balanceEl = $('#payables-balance-amount');
                $balanceEl.text(balance.toLocaleString());
                // تغییر رنگ مانده
                if (balance < 0) {
                    $balanceEl.removeClass('text-green-600').addClass('text-red-600');
                } else {
                    $balanceEl.removeClass('text-red-600').addClass('text-green-600');
                }
            }
        });
    }


    const payable_observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // یعنی div loading وارد دید کاربر شده
                loadPayables();
            }
        });
    }, {
        threshold: 0.1 // وقتی حداقل ۱۰٪ از loading دیده بشه
    });
    
    payable_observer.observe(document.querySelector('#payable_loading'));




    // پر کردن فرم‌ها از روی URL
    function fillFormsFromUrl() {
        const params = new URLSearchParams(window.location.search);
        params.forEach(function (value, key) {
            if (key.startsWith('recivable_')) {
                let field = $(`#recivable-filter-form [name="${key.replace('recivable_', '')}"]`);
                if (field.attr('type') === 'checkbox' || field.attr('type') === 'radio') {
                    field.filter(`[value="${value}"]`).prop('checked', true);
                } else {
                    field.val(value).trigger('change');
                }
            }
            if (key.startsWith('payable_')) {
                let field = $(`#payable-filter-form [name="${key.replace('payable_', '')}"]`);
                if (field.attr('type') === 'checkbox' || field.attr('type') === 'radio') {
                    field.filter(`[value="${value}"]`).prop('checked', true);
                } else {
                    field.val(value).trigger('change');
                }
            }
        });

        // اجرای اولیه
        if ([...params.keys()].some(k => k.startsWith('recivable_'))) {
            filterrecivables();
        }
        if ([...params.keys()].some(k => k.startsWith('payable_'))) {
            filterpayables();
        }
    }

    // بار اول
    fillFormsFromUrl();

    // هندل تغییرات فرم‌ها
    $('#recivable-filter-form input, #recivable-filter-form select').on('input change keyup', filterrecivables);
    $('#payable-filter-form input, #payable-filter-form select').on('input change keyup', filterpayables);

    // back/forward مرورگر
    window.onpopstate = function () {
        fillFormsFromUrl();
    };
});

$(document).ready(function () {

    // فعال کردن تب بر اساس URL
    function activateTabFromUrl() {
        const params = new URLSearchParams(window.location.search);
        const tab = params.get('tab');

        if (tab === 'payable') {
            const payableTab = new bootstrap.Tab($('#pills-payable-tab'));
            payableTab.show();
            
        } else {
            // پیش‌فرض تب بدهی
            const recivableTab = new bootstrap.Tab($('#pills-recivable-tab'));
            recivableTab.show();
           
        }
    }

    // بایند کردن تغییر تب برای آپدیت URL
    $('button[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
        const target = $(e.target).attr('data-bs-target'); // #recivables یا #payables
        const params = new URLSearchParams(window.location.search);

        if (target === '#recivables') {
            params.set('tab', 'recivable');
        } else if (target === '#payables') {
            params.set('tab', 'payable');
        }

        const newUrl = window.location.pathname + '?' + params.toString();
        window.history.pushState({}, '', newUrl);
    });

    // هنگام load صفحه
    activateTabFromUrl();

    // Back/Forward مرورگر
    window.onpopstate = function () {
        activateTabFromUrl();
    };
});

function appendNextToUpdateLinks() {
    const fullUrl = window.location.pathname + window.location.search; // کل آدرس فعلی
    console.log(window.location.pathname)
    console.log(window.location.search)

    if (!fullUrl) return;

    $('a.update-cheque').each(function() {
        let href = $(this).attr('href');
        if (!href) return;

        // جلوگیری از دوبار اضافه شدن
        if (href.includes('next=')) return;

        if (href.includes('?')) {
            href += '&next=' + encodeURIComponent(fullUrl);
        } else {
            href += '?next=' + encodeURIComponent(fullUrl);
        }

        $(this).attr('href', href);
    });
}

$(document).ready(function() {
    // بعد از هر بار Ajax (لیست دوباره لود میشه)
    $(document).ajaxSuccess(function() {
        appendNextToUpdateLinks();
    });
});
</script>


{% endblock %}