{% extends 'base.html' %}
{% load static %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX Input in Django</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'js/jalalidatepicker.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jalalidatepicker.min.js' %}"></script>
    
    
        <style>
        .form-wrapper {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    <style>
        ul { list-style-type: none; }
        .toggle {
            cursor: pointer;
            font-weight: bold;
            margin-right: 5px;
        }
        .children {
            display: none;
            margin-left: 20px;
        }
    </style>
    
{% endblock %}
{% block body %}
<form id="mainForm" enctype="multipart/form-data" class="form-floating mb-0">
        {% csrf_token %}
        <div id="forms-container">
        <div class="debt">
            {% for i in combined_forms %}
                {% if i.form_balance.transaction_type.value == "debt" %}
                    <div class="form-wrapper" id="{{ i.uniqueid }}">
    <div class="remove-form" style="color:red; cursor:pointer;">حذف</div>
    <div class="border rounded p-3">
        {{ i.form_balance.user }}
        <label class="form-label">{{ i.form_balance.account.label }}</label>
        {{ i.form_balance.account }}
        <h5 id="{{ i.uniqueid }}-accounts-list"></h5>
        <input type="hidden" id="{{ i.uniqueid }}-accounts-list">
        <div class="modal fade" id="{{ i.uniqueid }}-accounts-lists" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="collapse multi-collapse show">
                            <h5 class="mb-0">انتخاب حساب</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer justify-content-between collapse multi-collapse show">
                        <div class="flex-grow-1 text-end">
                            <button type="button" class="btn btn-link-danger" data-bs-dismiss="modal">لغو</button>
                            <button type="button" id="select-account-{{ i.uniqueid }}" class="btn btn-primary" data-bs-dismiss="modal">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button"
            class="btn btn-sm btn-light-secondary" data-bs-toggle="modal" 
            data-bs-target="#{{ i.uniqueid }}-accounts-lists"
            id="{{ i.uniqueid }}-accounts-list">
            <i class="ph-duotone ph-pencil-simple-line"></i> تغییر
        </button>
    </div>
    {{ i.form_balance.transaction_type }}
    <div class="cashonly input-group mb-3">
        <label for="form-label">{{ i.form_balance.amount.label }}</label>
        <div class="input-group mb-3">
            {{ i.form_balance.amount }}
            <span class="input-group-text">تومان</span>  
        </div>
    </div>
    <div class="mb-0">
        <label class="form-label">{{ i.form_balance.description.label }}</label>
        <div class="form-control">{{ i.form_balance.description }}</div>
    </div>
    <div class="mb-3">
        <label class="form-label">{{ i.form_balance.image.label }}</label>
        {% if i.form_balance.image.value %}
            <img src="{{ i.form_balance.image.value.url }}" width="150px">
        {% endif %}
        {{ i.form_balance.image }}
    </div>
    <label>
        <input type="checkbox" class="toggle-cheque-form" {% if i.form_cheque.name.value == None %}{% else %}checked id="{{ i.chequeid }}"{% endif %}/>
        اضافه کردن چک
    </label>
    <div class="cheque-form border rounded p-3 h-100 text-white bg-info" style="display: {% if i.form_cheque.name.value == None %}none{% else %}block{% endif %}; margin-top: 10px;">
        {{ i.form_cheque }}
        <div class="remove-cheque" {% if i.form_cheque.name.value == None %}none{% else %}block{% endif %} style="margin-top: 1%">
            <button type="button" data-chequeid="{{ i.chequeid }}" class="delete-cheque-btn" style="color:red">حذف</button>
        </div>

    </div>
<script>
        $('#select-account-{{ i.uniqueid }}').click(function () {
            const $form = $(this);
            const $context = $(this).closest('.modal');
            // 2. حسابِ انتخاب‑شده در همان درخت
            const $checked = $context.find('input[name="names"]:checked');
    
            if ($checked.length === 0) {
                alert('لطفاً یک حساب را از درخت انتخاب کنید.');
                return;
            }
            const accId   = $checked.val();
            const accName = $.trim($checked[0].nextSibling.nodeValue);
            {#const $select = $("select[id$='{{ uniqueid }}-new-balance-account']");#}
            const $wrapper   = $form.closest('.form-wrapper');
            const $select = $wrapper.find('[id$="-balance-account"]').first();
    
            // اگر گزینه هنوز وجود ندارد، بساز
            if (!$select.find(`option[value="${accId}"]`).length) {
                $select.append(`<option value="${accId}">${accName}</option>`);
            }
    
            // 4. انتخاب و اعلام تغییر
            $select.val(accId).trigger('change');
        });
</script>
</div>
                    {% endif %}
            {% endfor %}
            <p>---------بدهی ها--------</p>
        </div>
        <button type="button" id="add-form-debt">افزودن فرم بدهی</button>
        <p>---------بدهی--------</p>
        <p>---------بستانکاری------</p>
            <div class="credit">
                            {% for i in combined_forms %}
                {% if i.form_balance.transaction_type.value == "credit" %}
                    <div class="form-wrapper" id="{{ i.uniqueid }}">
    <div class="remove-form" style="color:red; cursor:pointer;">حذف</div>
    <div class="border rounded p-3">
        {{ i.form_balance.user }}
        <label class="form-label">{{ i.form_balance.account.label }}</label>
        {{ i.form_balance.account }}
        <h5 id="{{ i.uniqueid }}-accounts-list"></h5>
        <input type="hidden" id="{{ i.uniqueid }}-accounts-list">
        <div class="modal fade" id="{{ i.uniqueid }}-accounts-lists" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="collapse multi-collapse show">
                            <h5 class="mb-0">انتخاب حساب</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer justify-content-between collapse multi-collapse show">
                        <div class="flex-grow-1 text-end">
                            <button type="button" class="btn btn-link-danger" data-bs-dismiss="modal">لغو</button>
                            <button type="button" id="select-account-{{ i.uniqueid }}" class="btn btn-primary" data-bs-dismiss="modal">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button"
            class="btn btn-sm btn-light-secondary" data-bs-toggle="modal" 
            data-bs-target="#{{ i.uniqueid }}-accounts-lists"
            id="{{ i.uniqueid }}-accounts-list">
            <i class="ph-duotone ph-pencil-simple-line"></i> تغییر
        </button>
    </div>
    {{ i.form_balance.transaction_type }}
    <div class="cashonly input-group mb-3">
        <label for="form-label">{{ i.form_balance.amount.label }}</label>
        <div class="input-group mb-3">
            {{ i.form_balance.amount }}
            <span class="input-group-text">تومان</span>  
        </div>
    </div>
    <div class="mb-0">
        <label class="form-label">{{ i.form_balance.description.label }}</label>
        <div class="form-control">{{ i.form_balance.description }}</div>
    </div>
    <div class="mb-3">
        <label class="form-label">{{ i.form_balance.image.label }}</label>
        {% if i.form_balance.image.value %}
            <img src="{{ i.form_balance.image.value.url }}" width="150px">
        {% endif %}
        {{ i.form_balance.image }}
    </div>
    <label>
        <input type="checkbox" class="toggle-cheque-form" {% if i.form_cheque.name.value == None %}{% else %}checked id="{{ i.chequeid }}"{% endif %} />
        اضافه کردن چک
    </label>
    <div class="cheque-form border rounded p-3 h-100 text-white bg-info" style="display: {% if i.form_cheque.name.value == None %}none{% else %}block{% endif %}; margin-top: 10px;">
        {{ i.form_cheque }}
    </div>
<script>
        $('#select-account-{{ i.uniqueid }}').click(function () {
            const $form = $(this);
            const $context = $(this).closest('.modal');
            // 2. حسابِ انتخاب‑شده در همان درخت
            const $checked = $context.find('input[name="names"]:checked');
    
            if ($checked.length === 0) {
                alert('لطفاً یک حساب را از درخت انتخاب کنید.');
                return;
            }
            const accId   = $checked.val();
            const accName = $.trim($checked[0].nextSibling.nodeValue);
            {#const $select = $("select[id$='{{ uniqueid }}-new-balance-account']");#}
            const $wrapper   = $form.closest('.form-wrapper');
            const $select = $wrapper.find('[id$="-balance-account"]').first();
    
            // اگر گزینه هنوز وجود ندارد، بساز
            if (!$select.find(`option[value="${accId}"]`).length) {
                $select.append(`<option value="${accId}">${accName}</option>`);
            }
    
            // 4. انتخاب و اعلام تغییر
            $select.val(accId).trigger('change');
        });
</script>
</div>
                    {% endif %}
            {% endfor %}
            </div>
            <button type="button" id="add-form-credit">افزودن فرم بستانکاری</button>
        <p>---------بستانکاری------</p>
        </div>
            <div class="col-12">
                <div class="invoice-total ms-auto">
                    <div class="row">
                        <div class="col-6">جمع بدهکاری</div>
                        <div class="col-6 debt-sum"><p class="f-w-600 mb-1 text-end text-danger" id="text-debt">aa</p></div>
                        <div class="col-6">جمع بستانکاری</div>
                        <div class="col-6 credit-sum"><p class="f-w-600 mb-1 text-end text-success" id="text-credit"></p></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary me-2" id="saveall" type="submit">ذخیره همه</button>
        </form>

<script>
jalaliDatepicker.startWatch();

function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;

}
$('#mainForm').on('submit', function (e) {
        e.preventDefault();
        let csrfToken = getCSRFToken(); // Get CSRF token
        let formData = new FormData(this);
        let url = "{{ form_action_url }}";

		$.ajax({
			url: url,
			type: "POST",
            data: formData,
            contentType: false,
            processData: false,
			headers: { "X-CSRFToken": csrfToken }, // Send CSRF token in headers
			{#data: $(this).serialize(),#}
			success: function (response) {
                if (response.success) {
                    const redirect_page = response.redirect_url || "/";
                    window.location.href = redirect_page;
                }else {
                    alert("خطا: " + JSON.stringify(response.errors));
                }
			} 
		});
    });
$(document).ready(function () {
    function calcDebtTotal () {
    let sum = 0
    $('.debt :input[id$="-balance-amount"]').each(function () {
      sum += parseInt($(this).val()) || 0;
    });
    $('#text-debt').text(sum);
    }

    // محاسبهٔ اولیه
    calcDebtTotal();

  // گوش دادن زنده به رویدادهای input و change روی همان سلکتور
  $(document).on('input change', '.debt :input[id$="-balance-amount"]', calcDebtTotal);

      function calcCreditTotal () {
    let sum = 0
    // همهٔ input‌های داخل .debt (در هر عمق) که کلاسشان با -balance-amount تمام می‌شود
    $('.credit :input[id$="-balance-amount"]').each(function () {
      sum += parseInt($(this).val()) || 0;
    });
    $('#text-credit').text(sum);
    }

    // محاسبهٔ اولیه
    calcCreditTotal();

  // گوش دادن زنده به رویدادهای input و change روی همان سلکتور
  $(document).on('input change', '.credit :input[id$="-balance-amount"]', calcCreditTotal);
  
    $('#add-form-debt').click(function () {
        let csrfToken = getCSRFToken(); // Get CSRF token
        let transaction_type = 'debt'
        const lastForm = $('#forms-container .debt .form-wrapper').last();
        const Cheque_numbder = parseInt(lastForm.find('[name$="-Cheque_numbder"]').val());
        const maturity_date = lastForm.find('[name$="-maturity_date"]').val();
        const balance_account = lastForm.find('[name$="-balance-account"]').val();
        const amount = lastForm.find('[name$="-balance-amount"]').val();
		$.ajax({
			url: "{% url 'get_form_fragment' %}",
			type: "POST",
			{#headers: { "X-CSRFToken": csrfToken }, // Send CSRF token in headers#}
			data: {csrfmiddlewaretoken: csrfToken, transaction_type: transaction_type, maturity_date: maturity_date },
			success: function (response) {
                const $newForm = $(response.form_html);
                const datease = response.datease;
                const $lastForm = $('#forms-container .debt .form-wrapper').last();
                $newForm.find(`[name$="-balance-account"]`).val(balance_account);
                $newForm.find(`[name$="-balance-amount"]`).val(amount);
                
                if ($lastForm.length) {
                    const wasChecked = $lastForm.find('.toggle-cheque-form').is(':checked');
                    if (wasChecked) {
                        $newForm.find('.toggle-cheque-form').prop('checked', true); // تیک زدن
                        $newForm.find('.cheque-form').show(); // نمایش فرم چک
                        $newForm.find(`[name$="-Cheque_numbder"]`).val(Cheque_numbder+1);
                        $newForm.find(`[name$="-maturity_date"]`).val(datease);
                        const chequeFields = ['name', 'bank_name'];
                        chequeFields.forEach(field => {
                            const val = lastForm.find(`[name$="-${field}"]`).val();
                            $newForm.find(`[name$="-${field}"]`).val(val);
                        });
                    }
                }
				$('.debt').append($newForm);
                calcDebtTotal();

			}
		});
    });
    $('#add-form-credit').click(function () {
        let csrfToken = getCSRFToken(); // Get CSRF token
        let transaction_type = 'credit'
        const lastForm = $('#forms-container .credit .form-wrapper').last();
        const Cheque_numbder = parseInt(lastForm.find('[name$="-Cheque_numbder"]').val());
        const maturity_date = lastForm.find('[name$="-maturity_date"]').val();
        const balance_account = lastForm.find('[name$="-balance-account"]').val();
        const amount = lastForm.find('[name$="-balance-amount"]').val();

		$.ajax({
			url: "{% url 'get_form_fragment' %}",
			type: "POST",
			{#headers: { "X-CSRFToken": csrfToken }, // Send CSRF token in headers#}
			data: {csrfmiddlewaretoken: csrfToken, transaction_type: transaction_type, maturity_date: maturity_date},
			success: function (response) {
                const $newForm = $(response.form_html);
                const $lastForm = $('#forms-container .credit .form-wrapper').last();
                $newForm.find(`[name$="-balance-account"]`).val(balance_account);
                $newForm.find(`[name$="-balance-amount"]`).val(amount);

                const datease = response.datease;
                if ($lastForm.length) {
                    const wasChecked = $lastForm.find('.toggle-cheque-form').is(':checked');
                    if (wasChecked) {
                        $newForm.find('.toggle-cheque-form').prop('checked', true); // تیک زدن
                        $newForm.find('.cheque-form').show(); // نمایش فرم چک
                        $newForm.find(`[name$="-Cheque_numbder"]`).val(Cheque_numbder+1);
                        $newForm.find(`[name$="-maturity_date"]`).val(datease);
                        const chequeFields = ['name', 'bank_name'];
                        chequeFields.forEach(field => {
                            const val = lastForm.find(`[name$="-${field}"]`).val();
                            $newForm.find(`[name$="-${field}"]`).val(val);
                        });
                    }
                }
				$('.credit').append($newForm);
                calcCreditTotal();



			}
		});
    });

    $('#forms-container').on('click', '.remove-form', function () {
        $(this).closest('.form-wrapper').remove();
        calcDebtTotal();
        calcCreditTotal();

    });
    $('#forms-container').on('change', '.toggle-cheque-form', function () {
    const chequeForm = $(this).closest('.form-wrapper').find('.cheque-form');
    if ($(this).is(':checked')) {
        chequeForm.show();
    } else {
        chequeForm.hide();
        chequeForm.find('input, textarea, select').val('');
        chequeForm.find('select').prop('selectedIndex', 0); // برای select‌ها
    }
});
    
    

});

$(document).ready(function () {

    $('[id$="-accounts-list"]').click(function () {
        let csrfToken = getCSRFToken(); // Get CSRF token

		$.ajax({
			url: "{% url 'get_accounts_list' %}",
			type: "GET",
			{#headers: { "X-CSRFToken": csrfToken }, // Send CSRF token in headers#}
			data: {csrfmiddlewaretoken: csrfToken },
			success: function (response) {
                const $newForm = $(response.form_html);
                $('.modal-body').html($newForm);

			}
		});
    });
});


$(document).ready(function() {
    $('.delete-cheque-btn').on('click', function() {
        var chequeId = $(this).data('chequeid');  // فقط همونی که کلیک شد
        var button = $(this);  // برای حذف یا تغییر متن بعد از موفقیت
        var formWrapper = button.closest('.form-wrapper');
        var chequeForm = button.closest('.cheque-form');

        $.ajax({
            url: '{% url "delete-cheque-view" %}',
            type: 'POST',
            data: {
                'cheque_id': chequeId,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(response) {
                if (response.success) {
                    alert('چک با موفقیت حذف شد');
                    button.remove();
                    formWrapper.find('.toggle-cheque-form').prop('checked', false);
                    chequeForm.hide();
                    chequeForm.find('input, textarea, select').val('');
                    chequeForm.find('select').prop('selectedIndex', 0); // برای select‌ها
                
                    
                } else {
                    alert('خطا: ' + response.error);
                }
            }
        });
    });
});


</script>

{% endblock %}
