{% extends 'base.html' %}
{% load static %}


{% block body %}
<body data-pc-preset="preset-1" data-pc-sidebar-theme="light" data-pc-sidebar-caption="true" data-pc-direction="rtl" data-pc-theme="light">
  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->

  <div class="auth-main v1">
    <div class="auth-wrapper">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <div class="text-center">
              <img src="../assets/images/authentication/img-auth-reset-password.png" alt="images" class="img-fluid mb-3">
              <h4 class="f-w-500 mb-1">فراموشی رمز عبور</h4>
              <p class="mb-3"> بازگشت به <a href="../pages/login-v1.html" class="link-primary ms-1">ورود</a></p>
            </div>

              <form method="post">
            <div class="mb-3">
                {% csrf_token %}
              <label class="form-label">{{ form.password.label }}</label>
              {{ form.password }}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.confirm_password.label }}</label>
              {{ form.confirm_password }}
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">فراموشی رمز عبور</button>
            </div>
              </form>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}